In [4]:
import pandas as pd
import re

## Get item Texts

In [13]:
d = "RSQ"
d = d.upper()
folder = "seven"

In [14]:
lines = []
with open(f"../embeddings/{folder}/{d}/questions.txt",'r') as f:
    for line in f:
        # Remove the newline character at the end of the line
        line = line.strip()
        line = re.sub("[0-9]+\.\s", "", line)

        # Append the line to the list
        lines.append(line)

In [15]:
df = pd.DataFrame({"question_id": ["{:s}{:03d}".format(d.lower(), i+1) for i in range(len(lines))], "item": lines})
df.to_csv("../embeddings/{}/{}/{}_questions_text.csv".format(folder, d.upper(), d.lower()), index=False)

In [16]:
df

   question_id                                               item
0       rsq001                Situation is potentially enjoyable.
1       rsq002                              Situation is complex.
2       rsq003                            A job needs to be done.
3       rsq004                    Someone is trying to impress P.
4       rsq005      Someone is trying to convince P of something.
..         ...                                                ...
84      rsq085  People who are present occupy different social...
85      rsq086  P is being pressured to conform to the actions...
86      rsq087                      Success requires cooperation.
87      rsq088                P is being complimented or praised.
88      rsq089      Affords an opportunity to express femininity.

[89 rows x 2 columns]